<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div mat-card-avatar class="example-header-image"></div>
      {{ streamHeader }}
    </mat-panel-title>
    <mat-panel-description>mat panel description </mat-panel-description>
  </mat-expansion-panel-header>
  <h1>some more text</h1>
</mat-expansion-panel>
<milldrew-create-stream-button
  matTooltip="Create a stream"
  matTooltipPosition="below"
  (clickEvent)="buttonClicked()"
>
</milldrew-create-stream-button>
