<ul class="nav nav-tabs">
  <li class="nav-item" (click)="selectListTab()">
    <p class="nav-link" [class.active]="selectedTab === 'LIST'">Redo List</p>
  </li>
  <li class="nav-item" (click)="selectProgressTab()" id="progress-nav-tab">
    <p class="nav-link" [class.active]="selectedTab === 'PROGRESS'">Progress</p>
  </li>
</ul>
<div *ngIf="selectedTab === 'LIST'">
  <ng-content select="[redo-list]"> </ng-content>
</div>
<div *ngIf="selectedTab === 'PROGRESS'">
  <ng-content select="[progress]"> </ng-content>
</div>
