<h1>{{ redoList.name }}: {{ redoList.date }}</h1>
<ng-container *ngFor="let todo of redoList.todos">
  <ul>
    <li>{{ todo.name }} {{ todo.isFinished ? "DONE" : "NOT DONE" }}</li>
    <button class="btn btn-small btn-danger" (click)="handleTodoToggle(todo)">
      {{ todo.isFinished ? "Not Finished" : "Finish" }}
    </button>
    <button class="btn btn-small btn-danger" (click)="editTodo(todo)">
      Edit
    </button>
    <button class="btn btn-small btn-danger" (click)="deleteTodo(todo)">
      Delete
    </button>
  </ul>
  <ng-container>
    <input
      milldrewFocus
      [(ngModel)]="editorsTodo"
      (keydown.enter)="stopEditing()"
      (ngModelChange)="handleEditorChange(todo)"
      *ngIf="isEditingTodo"
    />
  </ng-container>
</ng-container>
