<ng-container *ngIf="redoList">
  <h1>{{ redoList.name }}</h1>
  <ng-container *ngFor="let todo of redoList.todos">
    <ul>
      <li>{{ todo.name }} {{ todo.status }}</li>
      <button
        id="success-redo-button"
        (click)="handleSuccessButton(todo)"
        class="btn btn-success"
      >
        Success
      </button>
      <button
        id="failed-redo-button"
        (click)="handleFailedButton(todo)"
        class="btn btn-danger"
      >
        Failed
      </button>
      <button
        id="failed-redo-button"
        (click)="handleResetButton(todo)"
        class="btn btn-warning"
      >
        Reset
      </button>
      <button class="btn btn-small btn-info" (click)="editTodo(todo)">
        Edit
      </button>
      <button class="btn btn-small btn-danger" (click)="deleteTodo(todo)">
        Delete
      </button>
    </ul>
  </ng-container>
  <input
    milldrewFocus
    [(ngModel)]="editorsTodo"
    (keydown.enter)="stopEditing()"
    (ngModelChange)="handleEditorChange()"
    *ngIf="isEditingTodo"
  />
  <milldrew-create-todo
    id="create-redo-button"
    (createTodo)="handleCreateTodoButton()"
  >
  </milldrew-create-todo>
  <button
    id="submit-redo-button"
    (click)="handleSubmit()"
    class="btn btn-success"
  >
    Submit
  </button>
</ng-container>
